BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG I2C_PORT=ENABLE ;
IOBUF PORT "A_INTL" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "A_MODPRESL" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "A_VACT_OC_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "B_INTL" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "B_MODPRESL" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "B_VACT_OC_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SYSCLK" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD1_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD2_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD3_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD4_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD5_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD6_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD7_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD8_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD9_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD10_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD11_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD12_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD13_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD14_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD15_INSERT_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD5" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD6" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD7" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD8" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD9" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD10" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD11" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD12" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD13" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD14" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P5V_GD_HDD15" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD5" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD6" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD7" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD8" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD9" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD10" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD11" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD12" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD13" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD14" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "P12V_GD_HDD15" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "RESET_N" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SCL" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Sideplane_REV_ID0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Sideplane_REV_ID1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "A_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "A_HEALTH_LED_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "A_VACT_EN_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "A_VMAN_EN_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "B_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "B_HEALTH_LED_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "B_VACT_EN_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "B_VMAN_EN_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "ENCLOSURE_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ENCLOSURE_HEALTH_LED_L" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD1_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD1_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD2_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD2_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD3_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD3_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD4_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD4_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD5_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD5_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD6_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD6_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD7_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD7_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD8_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD8_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD9_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD9_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD10_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD10_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD11_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD11_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD12_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD12_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD13_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD13_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD14_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD14_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD15_FAULT_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HDD15_Health_LED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "HEART" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "I2C_ALERT_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD1_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD2_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD3_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD4_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD5_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD6_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD7_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD8_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD9_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD10_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD11_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD12_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD13_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD14_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "PWR_EN_HDD15_L" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
IOBUF PORT "SDA" IO_TYPE=LVCMOS33 OPENDRAIN=ON PULLMODE=NONE ;
LOCATE COMP "A_INTL" SITE "C1" ;
LOCATE COMP "A_MODPRESL" SITE "B1" ;
LOCATE COMP "A_VACT_OC_L" SITE "D2" ;
LOCATE COMP "B_INTL" SITE "F3" ;
LOCATE COMP "B_MODPRESL" SITE "F2" ;
LOCATE COMP "B_VACT_OC_L" SITE "G2" ;
LOCATE COMP "SYSCLK" SITE "C8" ;
LOCATE COMP "HDD1_INSERT_L" SITE "B16" ;
LOCATE COMP "HDD2_INSERT_L" SITE "E14" ;
LOCATE COMP "HDD3_INSERT_L" SITE "F15" ;
LOCATE COMP "HDD4_INSERT_L" SITE "G15" ;
LOCATE COMP "HDD5_INSERT_L" SITE "H15" ;
LOCATE COMP "HDD6_INSERT_L" SITE "J15" ;
LOCATE COMP "HDD7_INSERT_L" SITE "K15" ;
LOCATE COMP "HDD8_INSERT_L" SITE "L16" ;
LOCATE COMP "HDD9_INSERT_L" SITE "L10" ;
LOCATE COMP "HDD10_INSERT_L" SITE "M6" ;
LOCATE COMP "HDD11_INSERT_L" SITE "N6" ;
LOCATE COMP "HDD12_INSERT_L" SITE "P12" ;
LOCATE COMP "HDD13_INSERT_L" SITE "P8" ;
LOCATE COMP "HDD14_INSERT_L" SITE "R14" ;
LOCATE COMP "HDD15_INSERT_L" SITE "R8" ;
LOCATE COMP "P5V_GD_HDD1" SITE "C16" ;
LOCATE COMP "P5V_GD_HDD2" SITE "E16" ;
LOCATE COMP "P5V_GD_HDD3" SITE "G11" ;
LOCATE COMP "P5V_GD_HDD4" SITE "H11" ;
LOCATE COMP "P5V_GD_HDD5" SITE "J11" ;
LOCATE COMP "P5V_GD_HDD6" SITE "K11" ;
LOCATE COMP "P5V_GD_HDD7" SITE "L12" ;
LOCATE COMP "P5V_GD_HDD8" SITE "M15" ;
LOCATE COMP "P5V_GD_HDD9" SITE "L8" ;
LOCATE COMP "P5V_GD_HDD10" SITE "M8" ;
LOCATE COMP "P5V_GD_HDD11" SITE "N8" ;
LOCATE COMP "P5V_GD_HDD12" SITE "P4" ;
LOCATE COMP "P5V_GD_HDD13" SITE "R10" ;
LOCATE COMP "P5V_GD_HDD14" SITE "R4" ;
LOCATE COMP "P5V_GD_HDD15" SITE "T10" ;
LOCATE COMP "P12V_GD_HDD1" SITE "D14" ;
LOCATE COMP "P12V_GD_HDD2" SITE "F12" ;
LOCATE COMP "P12V_GD_HDD3" SITE "G12" ;
LOCATE COMP "P12V_GD_HDD4" SITE "H12" ;
LOCATE COMP "P12V_GD_HDD5" SITE "J12" ;
LOCATE COMP "P12V_GD_HDD6" SITE "K12" ;
LOCATE COMP "P12V_GD_HDD7" SITE "L13" ;
LOCATE COMP "P12V_GD_HDD8" SITE "M16" ;
LOCATE COMP "P12V_GD_HDD9" SITE "L9" ;
LOCATE COMP "P12V_GD_HDD10" SITE "M9" ;
LOCATE COMP "P12V_GD_HDD11" SITE "N9" ;
LOCATE COMP "P12V_GD_HDD12" SITE "P5" ;
LOCATE COMP "P12V_GD_HDD13" SITE "R11" ;
LOCATE COMP "P12V_GD_HDD14" SITE "R5" ;
LOCATE COMP "P12V_GD_HDD15" SITE "T11" ;
LOCATE COMP "RESET_N" SITE "B11" ;
LOCATE COMP "SCL" SITE "L2" ;
LOCATE COMP "Sideplane_REV_ID0" SITE "P16" ;
LOCATE COMP "Sideplane_REV_ID1" SITE "R16" ;
LOCATE COMP "A_FAULT_LED" SITE "E1" ;
LOCATE COMP "A_HEALTH_LED_L" SITE "D3" ;
LOCATE COMP "A_VACT_EN_L" SITE "D1" ;
LOCATE COMP "A_VMAN_EN_L" SITE "C2" ;
LOCATE COMP "B_FAULT_LED" SITE "G4" ;
LOCATE COMP "B_HEALTH_LED_L" SITE "G3" ;
LOCATE COMP "B_VACT_EN_L" SITE "F5" ;
LOCATE COMP "B_VMAN_EN_L" SITE "F4" ;
LOCATE COMP "ENCLOSURE_FAULT_LED" SITE "H1" ;
LOCATE COMP "ENCLOSURE_HEALTH_LED_L" SITE "G1" ;
LOCATE COMP "HDD1_FAULT_LED" SITE "D16" ;
LOCATE COMP "HDD1_Health_LED" SITE "D15" ;
LOCATE COMP "HDD2_FAULT_LED" SITE "F14" ;
LOCATE COMP "HDD2_Health_LED" SITE "F13" ;
LOCATE COMP "HDD3_FAULT_LED" SITE "G14" ;
LOCATE COMP "HDD3_Health_LED" SITE "G13" ;
LOCATE COMP "HDD4_FAULT_LED" SITE "H14" ;
LOCATE COMP "HDD4_Health_LED" SITE "H13" ;
LOCATE COMP "HDD5_FAULT_LED" SITE "J14" ;
LOCATE COMP "HDD5_Health_LED" SITE "J13" ;
LOCATE COMP "HDD6_FAULT_LED" SITE "K14" ;
LOCATE COMP "HDD6_Health_LED" SITE "K13" ;
LOCATE COMP "HDD7_FAULT_LED" SITE "L15" ;
LOCATE COMP "HDD7_Health_LED" SITE "L14" ;
LOCATE COMP "HDD8_FAULT_LED" SITE "N15" ;
LOCATE COMP "HDD8_Health_LED" SITE "N14" ;
LOCATE COMP "HDD9_FAULT_LED" SITE "M11" ;
LOCATE COMP "HDD9_Health_LED" SITE "M10" ;
LOCATE COMP "HDD10_FAULT_LED" SITE "N11" ;
LOCATE COMP "HDD10_Health_LED" SITE "N10" ;
LOCATE COMP "HDD11_FAULT_LED" SITE "P11" ;
LOCATE COMP "HDD11_Health_LED" SITE "P10" ;
LOCATE COMP "HDD12_FAULT_LED" SITE "P7" ;
LOCATE COMP "HDD12_Health_LED" SITE "P6" ;
LOCATE COMP "HDD13_FAULT_LED" SITE "R13" ;
LOCATE COMP "HDD13_Health_LED" SITE "R12" ;
LOCATE COMP "HDD14_FAULT_LED" SITE "R7" ;
LOCATE COMP "HDD14_Health_LED" SITE "R6" ;
LOCATE COMP "HDD15_FAULT_LED" SITE "T13" ;
LOCATE COMP "HDD15_Health_LED" SITE "T12" ;
LOCATE COMP "HEART" SITE "A10" ;
LOCATE COMP "I2C_ALERT_L" SITE "M3" ;
LOCATE COMP "PWR_EN_HDD1_L" SITE "C15" ;
LOCATE COMP "PWR_EN_HDD2_L" SITE "E15" ;
LOCATE COMP "PWR_EN_HDD3_L" SITE "F16" ;
LOCATE COMP "PWR_EN_HDD4_L" SITE "G16" ;
LOCATE COMP "PWR_EN_HDD5_L" SITE "H16" ;
LOCATE COMP "PWR_EN_HDD6_L" SITE "J16" ;
LOCATE COMP "PWR_EN_HDD7_L" SITE "K16" ;
LOCATE COMP "PWR_EN_HDD8_L" SITE "M14" ;
LOCATE COMP "PWR_EN_HDD9_L" SITE "L7" ;
LOCATE COMP "PWR_EN_HDD10_L" SITE "M7" ;
LOCATE COMP "PWR_EN_HDD11_L" SITE "N7" ;
LOCATE COMP "PWR_EN_HDD12_L" SITE "P13" ;
LOCATE COMP "PWR_EN_HDD13_L" SITE "P9" ;
LOCATE COMP "PWR_EN_HDD14_L" SITE "R3" ;
LOCATE COMP "PWR_EN_HDD15_L" SITE "R9" ;
LOCATE COMP "SDA" SITE "L3" ;
